.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: linear-gradient(
    135deg,
    var(--primary) 0%,
    var(--primary-dark) 100%
  );
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: 600;
  transition: var(--transition);
}

.btn-primary:hover {
  transform: translateY(-2px);
  background: linear-gradient(
    135deg,
    var(--primary) 0%,
    var(--primary-dark) 100%
  );
}

.btn-secondary {
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: 600;
  transition: var(--transition);
}

.btn-secondary:hover {
  transform: translateY(-2px);
}

.destination-card {
  background: white;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  height: 100%;
  border: none;
  margin-bottom: 1.5rem;
}

.destination-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}
.card-actions {
  display: flex;
  justify-content: space-evenly;
}

.btn-outline-danger {
  color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.btn-outline-danger:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.btn-outline-primary:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}


.form-control:focus,
.form-select:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(58, 134, 255, 0.2);
}

.custom-alert {
  background: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);
  color: white;
  border-color: var(--primary-dark);
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  z-index: 1050;
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateY(100px);
  opacity: 0;
  transition: var(--transition);
}

.toast.show {
  transform: translateY(0);
  opacity: 1;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease;
}
